<!-- HEADER -->

<div class="header">
    <h1 id="project_title">Christian Manning</h1>
    <h2 id="project_tagline">Software developer</h2>
    <a href="https://github.com/chrismanning">
        <img class="icons" src="{{ site.url }}/images/GitHub-Mark-Blue-32px.png" title="View my projects on GitHub">
    </a>
    <a href="https://www.linkedin.com/in/christian-manning-4127ab9b/">
        <img class="icons" src="{{ site.url }}/images/linkedin.png" title="View my Linked.in profile">
    </a>
</div>
