<style type="text/css">
#skills_brief {
/*    border: 1px solid #7A5C63;
    background-color: #EEE;
    padding: 0.1em 0.6em;*/
    display: inline;
    /*text-align: center;*/
}
#skills_brief ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#skills_brief li {
    display: inline;
}
#skills_brief li + li::before {
    content: " • ";
}
</style>

<div id="skills_brief">
    <ul>
        <li>C++</li>
        <li>D</li>
        <li>Multi-threading</li>
        <li>Template metaprogramming</li>
        <li>Exception Safety</li>
        <li>Object-oriented Programming</li>
        <li>Debugging</li>
        <li>Unit Testing</li>
        <li>API Design</li>
        <li>Qt</li>
        <li>Boost</li>
        <li>git</li>
        <li>CMake</li>
        <li>Linux</li>
        <li>Windows</li>
    </ul>
</div>
